

<nav>
    <ul class="acorh">
        <li><a (click)="getCategories()"> <img class="iconos" src="/assets/campana.png" >Campañas</a>
          <ul>
            <li><a  *ngFor="let name of data$">{{ name.name }}</a></li>
            
          </ul>
        </li>
        <li><a> <img class="iconos" src="/assets/noticias.png" > <p> noticias </p></a>
          
        </li>
        <li><a><img class="iconos" src="/assets/favoritos.png" > <p>favoritos</p></a>
         
        </li>
      </ul>
    <!-- <ul>
        <li><a (click)="getCategories()"> <img class="iconos" src="/assets/campana.png" > <p>campaña</p> </a>
            <ul>
                <li>
                    <a class="btn" *ngFor="let name of data$">{{ name.name }}</a>
                </li>
            </ul> 
        </li>
        <li><a> <img class="iconos" src="/assets/noticias.png" > <p> noticias </p></a></li>
        <li><a> <img class="iconos" src="/assets/favoritos.png" > <p>favoritos</p> </a></li>
        </ul> -->

</nav>


