<!-- ESTA SECCION ES LA MAS GENERAL -->
<section> 
    <!-- Este primer div incluye la primera parte resultados e iconos -->
    <div class="firstContainer"> 
        <i class="fas fa-chevron-left"></i>  
        <h3>Resultados</h3>   
  </div>
    <!-- Esta segunda parte tiene todo el contenido -->
    <div>
        <!-- componente izquierdo -->
        <div>
            <!-- Parte de arriba del componente izquierdo -->
            <div>
                <i class="far fa-thumbs-up"><span>{{elements.like }}</span></i>
                <i class="far fa-thumbs-down"><span>{{elements.dislike}}</span></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <!-- Partede abajo del componente izquierdo -->
        <div *ngFor="let element of elements.content || []; let i = index" >
        </div>
    </div>
    <!-- Componenete derecho -->
    <div>
        <!-- Componente derecho parte de arriba -->
        <div>
            <div>
                <nav>
                    <ul>
                        <li>
                            <i class="fas fa-indent"></i>
                            Indice
                        </li>
                        <li>
                            <i class="fas fa-tags"></i>
                            Tags
                        </li>
                        <li>
                            <i class="fas fa-paperclip"></i>
                            Adjuntos
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- contenido de cada uno de los nav de arriba -->
            <div>

            </div>
        </div>
        <div>
            <div>
                <i class="far fa-laugh"></i> <span>Comentarios</span>
            </div>
        </div>
    </div>
</section>
<div #container style="display: none;">
</div>

