<section class="container"> 
    <a routerLink="/home"> 
        <i class="fas fa-arrow-left"></i>Resultados
    </a>
    <h1 class="title">{{elements.title}}</h1>
    <div class="flex-container">
        <div class="container-left">
            <div class="container">
                <div class="option">
                    <i ><span>{{elements.like }}</span> <i class="far fa-thumbs-up"></i></i>
                    <i ><span>{{elements.dislike}}</span> <i class="far fa-thumbs-down"></i></i>
                    <i ><i class="far fa-star"></i></i>
                </div>
            </div>
            <div #container id="container">
            </div>
        </div>
        <div class="container-right">
            <div>
                <div>
                    <nav>
                        <ul>
                            <li>
                                <i class="fas fa-indent"></i>
                                Indice
                            </li>
                            <li>
                                <i class="fas fa-tags"></i>
                                Tags
                            </li>
                            <li>
                                <i class="fas fa-file-image"></i>
                                Adjuntos
                            </li>
                        </ul>
                    </nav>
                </div>
                <div>

                </div>
            </div>
            <div class="container-comment">
                <p class="comment"><i class="far fa-smile"></i> Comentarios</p>
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <button class="button" (click)="saveComment">Enviar</button>
            </div>
        </div>
    </div>
</section>
